// inputs and checkboxes styles
input[type=checkbox]:not(old),
input[type=radio]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    // opacity: 0;
    display: none;
}

input[type=checkbox]:not(old)+label,
input[type=radio]:not(old)+label {
    display: inline-block;
    margin-left: -2em;
    line-height: 1.5em;
}

input[type=checkbox]:not(old)+label>span,
input[type=radio]:not(old)+label>span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0.25em 0.5em 0.25em 0.25em;
    border: 0.0625em solid #e7e8e9;
    border-radius: 2px;
    background: #fff;
    background-image: -moz-linear-gradient(#fff, #fff);
    background-image: -ms-linear-gradient(#fff, #fff);
    background-image: -o-linear-gradient(#fff, #fff);
    background-image: -webkit-linear-gradient(#fff, #fff);
    background-image: linear-gradient(#fff, #fff);
    vertical-align: bottom;
}

input[type=checkbox]:not(old):checked+label>span,
input[type=radio]:not(old):checked+label>span {
    background-image: -moz-linear-gradient(#fd3c44, #fd3c44);
    background-image: -ms-linear-gradient(#fd3c44, #fd3c44);
    background-image: -o-linear-gradient(#fd3c44, #fd3c44);
    background-image: -webkit-linear-gradient(#fd3c44, #fd3c44);
    background-image: linear-gradient(#fd3c44, #fd3c44);
}

input[type=checkbox]:not(old):checked+label>span:before {
    content: '✓';
    display: block;
    width: 17px;
    color: #fff;
    font-size: 13px;
    line-height: 1em;
    text-align: center;
    text-shadow: 0 0 0.0714em #fff;
    font-weight: bold;
}

input[type=radio]:not(old):checked+label>span>span {
    display: block;
    width: 0.5em;
    height: 0.5em;
    margin: 0.125em;
    border: 0.0625em solid #fd3c44;
    border-radius: 2px;
    background: #fd3c44;
    background-image: -moz-linear-gradient(#fd3c44, #fd3c44);
    background-image: -ms-linear-gradient(#fd3c44, #fd3c44);
    background-image: -o-linear-gradient(#fd3c44, #fd3c44);
    background-image: -webkit-linear-gradient(#fd3c44, #fd3c44);
    background-image: linear-gradient(#fd3c44, #fd3c44);
    vertical-align: bottom;
}

.checkbox-wrapper {
    label {
        width: 100%;
        margin-left: 0px !important;
        span {
            float: right;
        }
    }
}