<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../assets/images/logo.jpg" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto main-menu">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">FAQs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto supporting-menu">
            <li class="nav-item active">
                <a href="#">
                    <i class="fa fa-gavel"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <i class="fa fa-heart"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <span>Sophie Reiter</span>
                    <span class="user-icon">
                        <img src="../assets/images/user-icon.png" />
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>